# Config file for automatic testing at travis-ci.org
dist: xenial
language: python
cache: pip
python:
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -U tox-travis
# command to run tests, e.g. python setup.py test
script: tox
