name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_pypi.txt
      - name: Build dist
        run: |
          make clean
          make build
      - name: Save build output
        uses: actions/upload-artifact@v3.1.3
        with:
          name: built-output
          path: ./dist

  generate_changelog:
    runs-on: ubuntu-latest
    name: Generate changelog for default branch
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          ref: master

      - name: Generate changelog
        uses: charmixer/auto-changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release_branch: master

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          base: master
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update changelog
          title: Update changelog
          body: Update the changelog. This PR is created automatically after a new release.
          branch: update-changelog

  publish:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Load saved build output
        uses: actions/download-artifact@v3.0.2
        with:
          name: built-output
          path: ./dist
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.8.11
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
